@media print {
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  [contenteditable="true"] {
    caret-color: transparent;
  }
  [contenteditable] {
    outline: none;
  }
}

* {
margin: 0;
padding: 0;
}
body {
font-size: 11px;
font-weight: 400;
letter-spacing: -0.02em;
line-height: 1.7;
}
h1 {
font-size: 32px;
font-weight: 700;
line-height: 1.7;
color: red;
}
h2 {
font-size: 15px;
font-weight: 700;
line-height: 1.7;
color: navy;
display : inline;
}
h3 {
font-size: 13px;
font-weight: 700;
line-height: 1.7;
color: navy;
}
a {
font-size: 20px;
font-weight: 700;
line-height: 1.7;
padding: 10px;
margin: 10px;
}
.main {
width: 210mm;
height: 297mm;
}
.sub {
width: 210mm;
height: 148.5mm;
}
.pages {
width: 85mm;
height: 128.5mm;
margin: 10mm;
float: left;
}
.a1{
position: absolute;
top: 93.5mm;
left: 115mm;
}
.a2{
position: absolute;
top: 242mm;
left: 115mm;
}
.boxa {
text-align: center;
margin: 0 auto;
margin-bottom: 5mm;
}

.boxd {

}
.boxy {
background-color: #DEDEFF;
padding: 4mm;
width: 77mm;
}
.cute {
  font-family: "Single Day", cursive;
  font-weight: 600;
  font-style: normal;
}
